<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color='danger'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" color="danger">
      <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center app-name">
      <img src="../../../../assets/img/shree_ram .png" width="100px" alt="Hanumaan-Bhakti">
    
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- end of header -->

<!-- First Content  -->
<ion-content>
  <!-- Landing page starts from here -->
  <section class="content">
    <div fxLayout="row" fxLayoutAlign="center center">
      <img src="../../assets/img/bajrang.svg" alt="Welcome_Img" />
    </div>
    <div class="wrapper ion-text-center" fxLayout="column">
      <mat-card  class="mt-1">
       
        <mat-card-title class="col-blk" [innerHtml]=DOM_CONSTANTS.PLAN_HEADER1></mat-card-title>
        <mat-card-content>
          <p [innerHtml]=DOM_CONSTANTS.PLAN_BODY ></p>
        </mat-card-content>
        <div>
         
          <mat-card-title class="col-blk">{{DOM_CONSTANTS.PLAN_SUB_HEADER2}}</mat-card-title>
        
        </div>
        <mat-card-content>
          <p [innerHtml]=DOM_CONSTANTS.PLAN_BODY2></p>
          <p [innerHtml]=DOM_CONSTANTS.PLAN_BODY_2></p>
          <p [innerHtml]=DOM_CONSTANTS.PLAN_BODY_3></p>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-card style="background:darkred">
        <div>
            <mat-card-title mat-flat-button class="red_color" [routerLink]="['/home/hanumaan-chalisa']">
        {{DOM_CONSTANTS.PLAN_STEP_TWO_100.TITLE}}</mat-card-title>
        </div>
    <div>
        <mat-card-title mat-flat-button class="red_color" [routerLink]="['/home/bajrang-baan']">
    {{DOM_CONSTANTS.PLAN_STEP_TWO.TITLE}}</mat-card-title>
    </div>
    <div>
      <mat-card-title mat-flat-button class="red_color" [routerLink]="['/home/sunderkand']">
    {{DOM_CONSTANTS.PLAN_STEP_TWO_001.TITLE}}</mat-card-title>
    </div>
    <div>
      <mat-card-title mat-flat-button class="red_color" [routerLink]="['/home/hanumaan-ashtak']">
    {{DOM_CONSTANTS.PLAN_STEP_TWO_002.TITLE}}</mat-card-title>
    </div>
  
    <div>
      <mat-card-title mat-flat-button class="red_color" [routerLink]="['/home/hanumaan-arti']">
    {{DOM_CONSTANTS.PLAN_STEP_TWO_004.TITLE}}</mat-card-title>
    </div>
    <div>
        <mat-card-title mat-flat-button class="red_color" [routerLink]="['/home/ramayan-arti']">
      {{DOM_CONSTANTS.PLAN_STEP_TWO_005.TITLE}}</mat-card-title>
      </div>
   
    </mat-card>
  </section>
  
  <!-- Footer -->
  <footer class="footer" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        The Code Planner,<br /> 
      </ion-label>
    </ion-text>
    <ion-text class="align-item-bottom">
      <ion-label class="fl-footer-content">
        Copyright Thecodeplanner © 2020
      </ion-label>
    </ion-text>
  </footer>
  <!-- End of footer -->
</ion-content>
