
.title{
    font-family: proxima soft;
    font-size: 24px;
    font-weight: bold; 
    color: #fff !important;
  }
  .subtitle{
   font-family:Proxima Soft;
    font-size:20px;
    // font-weight: bold;
    color:#fff;
    white-space: pre-wrap;
  }
  
  .hanumaan-title { 
    font-family: Proxima Soft;
    font-size: 18px;
    color: #fff !important;
    white-space: pre-line;
  }
  .text{
  text-align: left; 
  white-space:pre-line;
  }
  .ipt{
      text-align: end;
  }
  .icon12{
     display:block;
  }
  .insurance_input{
    width: 100%;
    height:95px;
  }
  .hgt{
    padding:10px;
  }
  .wrapper1{
    padding:3px 6px
  }
  .pos-rel {
    position: relative;
    z-index: 1000;
    overflow: hidden;
  }
  .mt-bt{
    background: #fff; color: red; border-radius: 50px;
  }
  .mt-up{
    color:red; border-radius: 50px;
  }
  
  
          