ion-content.menu-bar {
    // --ion-background-color: red #f08827; #e47f20
    // --ion-background-color:  ;

    background:rgb(223,211,211);
    --ion-background-color:inear-gradient(90deg, rgba(223,211,211,1) 99%, rgba(209,12,12,1) 100%);
  
    opacity: 0.95;
    .menu-item {
        font-size: 18px;
        color:darkred;
    }
    .menu-list {
        &:first-child {
            padding-top: 30px;
        }
        margin-top: 0;
        padding-bottom: 0;
    }
    .menu-step {
        border: 2px solid grey;
        border-radius: 50%;
        min-width: 27px;
        margin-right: 10px;
        text-align: center;
    }
  }
  .img-container {
    width: 25px;
    height: 25px;
    .profile-img {
        background-size: cover;
        border-radius: 50%;
    }
}

  